@tailwind base;
@tailwind components;
@tailwind utilities;

.darkblue {
  background: hsla(266, 75%, 55%, 1);

  background: linear-gradient(
    90deg,
    hsla(266, 75%, 55%, 1) 0%,
    hsla(340, 47%, 77%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(266, 75%, 55%, 1) 0%,
    hsla(340, 47%, 77%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(266, 75%, 55%, 1) 0%,
    hsla(340, 47%, 77%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8338E3", endColorstr="#E0A9BB", GradientType=1 );
}
.button-grad {
  background: radial-gradient(
      circle at 0% 0%,
      rgba(250, 250, 250, 1) 0%,
      transparent 100%
    ),
    rgba(15, 15, 15, 1);
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px 20px;
}
.linear-mask {
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 1px;
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x)+20%),
    transparent calc(var(--x)+30%),
    white (calc(var(--x)+100%))
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x)+20%),
    transparent calc(var(--x)+30%),
    white (calc(var(--x)+100%))
  );
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.lefthor {
  clip-path: polygon(0 0, 100% 24%, 0% 100%);
}

.cursor {
  background-color: bisque;
  height: 22px;
  width: 22px;
  position: fixed;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}
.hib {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eaecc6, #2bc0e4);
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(20px);
}
.hib2 {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaecc6,
    #157b94
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eaecc6, #2bc0e4);
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(20px);
}
.hib3 {
  background: hsla(10, 82%, 65%, 1);

  background: linear-gradient(
    90deg,
    hsla(10, 82%, 65%, 1) 0%,
    hsla(290, 79%, 13%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(10, 82%, 65%, 1) 0%,
    hsla(290, 79%, 13%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(10, 82%, 65%, 1) 0%,
    hsla(290, 79%, 13%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF745C", endColorstr="#34073D", GradientType=1 );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(20px);
}

.orangebox {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(20px);
}
.orangebox3 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(30px);
}
.orangebox4 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(30px);
}

.bruck {
  background: white;
}
.orangebox2 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(30px);
}
.leo2 {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.leo{
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 2px;
}
