@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", sans-serif;
  background: black;
  color: white;
}

.shero li {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 7px;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: bottom 0.3s ease;
  overflow: hidden;
}

.shero li::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  left: 0;
  bottom: -100%;
  transition: bottom 3s ease;
  border-radius: 5px;
  mix-blend-mode: difference;
  opacity: 0;
  z-index: -10;
  color: #000;
}

.shero li:hover::after {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s ease;
  color: #000;
  border-radius: 12px;
}

.vide {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.orangebox {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(20px);
  animation-name: movela2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.orangebox3 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(30px);
  animation-name: movela2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.orangebox2 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(30px);
  animation-name: movela;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.line1 {
  background: white;
}

.moving-text {
  background-color: black;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  color: white;
  display: flex;
  white-space: nowrap;
  align-items: center;
  overflow-x: auto;
}
.moving-text::-webkit-scrollbar {
  display: none;
}
.gola {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: orangered;
}
.con {
  white-space: nowrap;
  margin-bottom: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  animation-name: flow;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
 
}
.moving-text h1 {
  font-size: 7vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-weight: 900;
}

@keyframes movela {
  from {
    transform: translate(23%, -3%);
  }
  to {
    transform: translate(20%, 10%);
  }
}

@keyframes movela2 {
  from {
    transform: translate(-23%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes flow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
